<div *ngIf="!t">
	<app-admin-signin></app-admin-signin>
</div>

<div *ngIf="t">
	<div class="col-md-4 eventCard" *ngFor="let event of events">
		<mat-card>
			<h4>{{event.title}}</h4>
			<p>Date: {{event.date}}</p>
			<p>Venue: {{event.venue}}</p>
			<span class="glyphicon glyphicon-trash pull-right pointer" (click)="delete(event.id)"></span>
		</mat-card>
	</div>


	<div class="col-md-12" id="eventForm">
		<div>
			<h4>Post New Event</h4>
		</div>
		<div class="col-md-4">
			<form (ngSubmit)="onSubmit(e)" #e="ngForm">
				<div class="form-group">
					<label>Event Tile</label>
					<input class="form-control" type="text" name="title" placeholder="EVENT TITLE" ngModel>
				</div>
				<div class="form-group">
					<label>Event Date</label>
					<input class="form-control" type="date" name="date" ngModel>
				</div>
				<div class="form-group">
					<label>Venue</label>
					<input class="form-control" type="text" name="venue" placeholder="VENUE" ngModel>
				</div>
				<div class="form-group">
					<label>Rules:</label>
					<input class="form-control" type="text" name="rule1" placeholder="Rule 1" ngModel>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="rule2" placeholder="Rule 2" ngModel>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="rule3" placeholder="Rule 3" ngModel>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="rule4" placeholder="Rule 4" ngModel>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="rule5" placeholder="Rule 5" ngModel>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="rule6" placeholder="Rule 6" ngModel>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="rule7" placeholder="Rule 7" ngModel>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="rule8" placeholder="Rule 8" ngModel>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="rule9" placeholder="Rule 9" ngModel>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="rule10" placeholder="Rule 10" ngModel>
				</div>
				
				<button mat-raised-button color="primary">Post</button>
			</form>
		</div>
	</div>
</div>

