
.banner img{
	align-content: center;
	margin-bottom: 30px;
}

.banner p{
	padding:30px;
	text-align: justify;
}

.events{
	padding: 20px;
}

.events img{
	height: 260px;
	width: 95%;
}

.event_desc{
	margin-bottom: 50px;
}

h3{
	margin-bottom: 30px;
}

.events p{
	text-align: justify;
}