
h3{
	padding: 15px;
}
.event{
	margin-bottom: 20px;
}
agm-map {
  height: 300px;
}

.app{
	background: #142132;
	margin-bottom: 20px;
	margin-top: 20px;
}

.app_info h2,p{
	color: #fff !important;
}

p{
	color: #111 !important;
}