<!-- event starts -->
	<div class="container row event" *ngFor="let event of event">
		<div class="container details">
			<h2>{{event.title}}</h2>
			<p>{{event.venue}}  {{event.date}}</p>
		</div>
		<div class="col-md-1"></div>	
		<div class="col-md-7 rules">
			<div>
				<h4>Guidelines & Rules</h4>
			</div>
			<div>
				<ul>
					<li *ngIf="event.rule1!=NULL">{{event.rule1}}</li>
					<li *ngIf="event.rule2!=NULL">{{event.rule2}}</li>
					<li *ngIf="event.rule3!=NULL">{{event.rule3}}</li>
					<li *ngIf="event.rule4!=NULL">{{event.rule4}}</li>
					<li *ngIf="event.rule5!=NULL">{{event.rule5}}</li>
					<li *ngIf="event.rule6!=NULL">{{event.rule6}}</li>
					<li *ngIf="event.rule7!=NULL">{{event.rule7}}</li>
					<li *ngIf="event.rule8!=NULL">{{event.rule8}}</li>
					<li *ngIf="event.rule9!=NULL">{{event.rule9}}</li>
					<li *ngIf="event.rule10!=NULL">{{event.rule10}}</li>
				</ul>
			</div>
		</div>
		<div class="col-md-4">
			<div>
				<h4>Register Here</h4>
			</div>
			<div class="rgForm">
				<form (ngSubmit)="onSubmit(form)" #form="ngForm">
					<div class="form-group">
						<input class="form-control" type="text" name="name" placeholder="FULL NAME"required minlength="4" [(ngModel)]="form.name" #name="ngModel">
					</div>
					<!-- name validation -->
					<div *ngIf="name.invalid && (name.dirty || name.touched)">
					  <p *ngIf="name.errors.required">
					    Name is required.
					  </p>
					  <p *ngIf="name.errors.minlength">
					    Name must be at least 4 characters long.
					  </p>
					</div>

					<div class="form-group">
						<input class="form-control" type="text" name="roll_no" placeholder="REGISTARTION NO" required [(ngModel)]="form.roll_no" #roll_no="ngModel">
					</div>
					<!-- roll_no validation -->
					<div *ngIf="roll_no.invalid && (roll_no.dirty || roll_no.touched)">
						<p *ngIf="roll_no.errors.required">
							Registration no is required
						</p>
					</div>
					<div class="form-group">
						<input class="form-control" type="text" name="phone" placeholder="CONTACT NO" [(ngModel)]="form.phone" #phone="ngModel" required minlength="10">
					</div>
					<!-- phone validation -->
					<div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
						<p *ngIf="phone.errors.required">
							Contant no is required
						</p>
						<p *ngIf="phone.errors.minlength">
							Enter a valid no
						</p>
					</div>


					<div class="form-group">
						<input class="form-control" type="email" name="email" placeholder="E-MAIL" [(ngModel)]="form.email" #email="ngModel" required>
						<span class="pointer" (click)="sendOtp(email)">Send Otp</span>
					</div>
					<!-- email validation -->
					<div *ngIf="email.invalid && (email.dirty || email.touched)">
						<p *ngIf="email.errors.required">
							email is required
						</p>
						<p *ngIf="email.errors.type">
							Invalid email
						</p>
					</div>

					<div class="form-group">
						<input class="form-control" type="text" name="otp" placeholder="ENTER OTP" [(ngModel)]="form.otp" #otp="ngModel" required>
					</div>
					<!-- otp validation -->
					<div *ngIf="otp.invalid && (otp.dirty || otp.touched)">
						<p *ngIf="otp.errors.required">
							Otp is required
						</p>
					</div>
					<button type="submit" [(disabled)]="!form.valid" mat-button>Register</button>
					<span style="color: green;">{{message}}</span>
				</form>
			</div>
		</div>
	</div>
<!-- event ends -->
